a {
  text-decoration: none;
}

.footer {
  position: fixed;
  width: 100%;
  background: #ef9364;
  left: 0;
  bottom: 0;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  height: 125px;
}

.footer-copyright {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.link-text {
  color: black;
}

.footer-links {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text-foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-background);
  color: var(--secondary-button-text);
  border-radius: 14px;
}

.about-text-foot:hover {
  border-radius: 14px;
  background-color: var(--secondary-button-text);
}

#about-text {
  color: var(--secondary-button-text);
  padding: 6px;
}

#about-text:hover {
  color: black;
  font-weight: 550;
}

.repo-link {
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.github-icon {
  margin-right: 5px;
}

@media (max-width: 600px) {
  .footer {
    max-height: 50px;
    background: #064b6bd2;     
  }
  .repo-link {
    display: none;
  }
  .footer-copyright {
    display: none;
  }

  .footer-links {
    margin-top: -15px;
  }

  #about-text {
    width: 100%;
    padding: 6px;
  }

  .about-text-foot {
    width: 70%;
    text-align: center;
    border-radius: 0%
  }

  .about-text-foot:hover {
    border-radius: 0%;
  }
  
  #about-text:hover {
    color: black;
    font-weight: 550;
  }
}
